.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


/***************************  media quaries ***********************************/

@media only screen and (width<=1000px) {
.grid-container{
  grid-template-columns: 50% 50%;
}
}




  /************************* media queries movil ************************/

@media only screen and (width<=600px) {
  .grid-container{
  grid-template-columns: 100%;
  margin-left: -5%;
  margin-right: 10%;
  }
  .grid-item{
    margin-right: 30%;
  }
}